/* .item-description {
  display: flex;
  flex-direction: column;
} */

.item-label {
  display: block;

  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 1.2rem;
  /* margin-bottom: 0.5em; */
}

.item-line {
  margin-bottom: 0.5em;
}

.item-label--inline {
  display: inline;
}

.item-name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.item-label--zeroes {
  font-size: 0.8em;
  opacity: 90%;
}

/* .item-label--code {
} */
