[Unit]
Description="Inventory Api Server"
After=network.target
Requires=mongod.service

[Service]
Type=simple
WorkingDirectory=/root/inventory/inventory-api/
ExecStart=/usr/bin/uwsgi \
        --ini /root/inventory/inventory-api/inventory.ini \
        --socket /run/uwsgi-inventory-api.socket
User=www-uwsgi-inventory-api
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=default.target