[Unit]
Description=Socket for Inventory Api Server

[Socket]
ListenStream=/var/run/uwsgi-inventory-api.socket
SocketUser=www-uwsgi-inventory-api
SocketGroup=www-data
SockerMode=0660

[Install]
WantedBy=sockets.target