[Unit]
Description="Inventory Frontend"
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/inventory/node-deployment
User=www-data
Group=www-data
ExecStart=/root/.nvm/versions/node/v16.4.0/bin/node server.bundle.js -p 3001
Restart=on-failure

[Install]
WantedBy=multi-user.target