[Unit]
Description="Inventory Api Server"
After=network.target
Requires=mongodb.service

[Service]
Type=simple
WorkingDirectory=/root/inventory-v2/uwsgi-api-server/
ExecStart=/usr/bin/uwsgi \
        --ini /root/inventory-v2/uwsgi-api-server/inventory.ini \
        --socket /run/uwsgi-inventory-api.socket
User=www-uwsgi-inventory-api
Group=www-data
#Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=default.target