.code-lines {
  flex-grow: 1;
}
.code-line {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  background-color: white;
  border: 1px solid black;
  border-bottom: 0;
}
.code-line:last-child {
  border-bottom: 1px solid black;
}
.code-line-code {
  padding: 0.3rem;
}
.badge {
  color: white;
  background: #0c3764; /* darkAccent */
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 1px 0.4rem;
  margin-left: 0.2rem;
  margin-right: auto;
}

.codes-input-line {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  align-items: center;
}
.codes-input-line:last-of-type {
  border-bottom: 1px solid black;
}
.codes-input-line:focus-within {
  /* border: 2px solid black; */
  outline: black 2px solid;
}

.codes-input-line > input {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  flex-grow: 1;
}

.codes-input-line > input:focus {
  border: none;
  outline: none;
}

.codes-input-line > svg[class^="lnr-"],
.codes-input-line > svg[class*=" lnr-"] {
  margin-top: -2px;
  margin-right: 0.1rem;
}

.badge-rocker {
  margin-right: 0.4rem;
}
.badge-rocker > button {
  background: white;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.badge-rocker > button:first-child {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.badge-rocker > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.badge-rocker > .rocker--active {
  color: white;
  background: #0c3764; /* darkAccent */
}
