.filter-widget {
  display: flex;
  align-items: baseline;
  color: black;
}

.single-line-widget {
  background-color: rgba(100, 100, 100, 0.342);
  padding: 0.1em 0.5rem;
  border-radius: 0.3em;
  margin-left: 0.3rem;
}
