/* @use "_colors"; */

.pager {
  display: flex;
  align-items: baseline;
  justify-content: center;

  font-weight: 600;
}

.pager--note {
  margin-right: 0.5em;
}

.pager--page-link {
  margin: 0.1em;
  padding: 0.5em;

  background: white;
  color: black;
  border-radius: 0.4em;

  text-decoration: none;
}

.pager--page-link__active {
  background-color: #c0771f;
  color: white;
}
