.top-bar {
  background: #04151f; /* colors.dark1 */
  color: #ecebe4ff;
  display: flex;
  /* flex-flow: row nowrap; */
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.top-bar .branding {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-basis: 50%;
  width: 50%;
  flex-flow: row nowrap;
}

.top-bar .branding .logo {
  display: inline-block;
  height: 3rem;
  flex: 0 0 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #c0771f; /* colors.accent */
}

.top-bar .branding h2 {
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 2rem;
  margin: 0;
  margin-left: 1rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.top-bar .branding h2::after {
  content: "";
  /* flex: 0 0 3rem; */
  background: linear-gradient(to right, transparent, #04151f);
  /* justify-self: right; */
  /* align-self: stretch; */
  width: 3rem;
  min-height: 1.4em;
  position: absolute;
  right: 0;
}

.hamburger {
  display: flex;
  align-items: center;
  margin-left: 0;
}

/*
 * Override the colors in hamburgers.css package
 */
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #ecebe4ff;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ecebe4ff;
}
/* --------- */

.hamburger-label {
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-right: 0.5rem;
}

@media (min-width: 800px) {
  .top-bar {
    /* display: block; */
    flex-direction: column;
    flex-basis: 12em;
  }
  .top-bar .branding {
    width: unset;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;     
    /* text-align: center; */
  }
  .top-bar .branding h2 {
    /* width: 7em; */
    flex-grow: 0;
  }
  .top-bar .branding h2::after {
    display: none;
  }
  .top-bar .hamburger {
    display: none;
  }
}
