[Unit]
Description="Inventorius Frontend"
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/node /usr/lib/inventorius-frontend/server.bundle.js -p 3001
Restart=on-failure

[Install]
WantedBy=multi-user.target