[Unit]
Description=Socket for inventorius Api Server

[Socket]
ListenStream=/run/uwsgi-inventorius-api.socket
SocketUser=www-uwsgi-inventorius-api
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target