**/__pycache__/
*.pyc
.hypothesis
.vscode/launch.json
.venv
.deleteme.*
.vscode
.coverage
test-results
htmlcov
.pytest_cache
secrets.ini
github_id_rsa
build
dist/
package-root/
*secret*
!*.gpg
*.code-workspace
*.egg-info/
